html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  color: #4f4f4f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #4f4f4f;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: #4f4f4f;
}

a:hover {
  text-decoration: none;
  color: #ebb000;
  -webkit-transition: ease-out 400ms;
  transition: ease-out 400ms;
}

.navbar {
  padding: 0em;
  z-index: 100;
  top: 0px;
}

.navbar.navbar-dark {
  background-color: rgba(0, 0, 0, 0);
}

.navbar .navbar-brand {
  padding: 0.4em 0.6em;
}

.navbar .navbar-toggler {
  border-color: #ebebeb;
}

.navbar .navbar-nav .nav-link {
  color: white;
  font-size: 1.16rem;
  font-weight: 600;
  position: relative;
  padding: 1.4em 0.6em;
}

.navbar .navbar-nav .nav-link.active::after {
  width: 80%;
}

.navbar .navbar-nav .nav-link:hover {
  color: white;
}

.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  background-color: #ffbf00;
  color: transparent;
  width: 0%;
  content: '.';
  height: 0.32rem;
  border-top-left-radius: 32%;
  border-top-right-radius: 32%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.navbar .navbar-nav .nav-link:hover::after {
  width: 80%;
}

.btn {
  font-size: 1.24rem;
  font-weight: 800;
  height: 2.4em;
}

.btn-primary {
  color: #ebebeb;
  background-color: #ebb000;
  border-color: #ebb000;
  -webkit-transition: ease-out 400ms;
  transition: ease-out 400ms;
}

.btn-primary:hover {
  background-color: #ffbf00;
  border-color: #ebb000;
  -webkit-transition: ease-out 800ms;
  transition: ease-out 800ms;
}

#scroll-top-button {
  display: none;
  position: fixed;
  height: 2.6em !important;
  width: 2.6em !important;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  background-color: #ffce3b;
  color: #4f4f4f;
  padding: 0em !important;
  border-radius: 50%;
}

.custom-hr1 {
  height: 0.2rem;
  width: 10%;
  margin-left: 0%;
  border: none;
  border-radius: 2px;
  background: #ffbf00;
}

.custom-hr2 {
  height: 0.1rem;
  margin-left: 10%;
  margin-right: 10%;
  border: none;
  border-radius: 2px;
  background: #4f4f4f;
}

footer {
  color: #ebebeb;
  font-size: 0.96rem;
  background-color: #212121;
  bottom: 0;
}

footer img {
  width: 10rem;
}

footer h5 {
  color: #ffce3b;
}

footer a {
  color: #ebebeb;
}

footer a:hover {
  -webkit-transition: ease-out 400ms;
  transition: ease-out 400ms;
}

.headImage {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), color-stop(50%, rgba(0, 0, 0, 0.15))), url("/img/about/1.jpeg") repeat-y;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.15) 50%), url("/img/about/1.jpeg") repeat-y;
  background-size: cover;
  background-position: 50% 70%;
  z-index: 0;
  position: absolute;
  height: 32vh;
  width: 100%;
  top: 0px;
  left: 0px;
}

.headImageSpace {
  height: calc(32vh - 80px);
}

.about-us p {
  font-size: 1.16rem;
}

.team {
  background-color: #eceadb;
}

.team .our-team .card {
  background-color: #eceadb;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border: none;
}

.team .our-team .card img {
  height: 20em;
  width: 22em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0%;
     object-position: 50% 0%;
}

.team .our-team .card .card-body {
  font-size: 0.96em;
  line-height: 1.2em;
  margin-top: 0.25em;
  padding: 0.4em;
}

.team .our-team .card .card-body h5 {
  font-size: 1.6rem;
}

.team .our-team .card .card-body .custom-hr {
  width: 25%;
  margin-left: 1%;
  border: 1px solid #ababab;
}

.team .our-team .card .card-body .card-text.collapse:not(.show) {
  display: block;
  height: 5.8rem;
  overflow: hidden;
}

.team .our-team .card .card-body .card-text.collapsing {
  height: 5.8em;
}

.team .our-team .card .card-body a {
  color: #ebb000;
}

.team .our-team .card .card-body a:hover {
  color: #ffce3b;
}

.team .our-team .card .card-body a.collapsed::after {
  content: 'Read More';
}

.team .our-team .card .card-body a:not(.collapsed)::after {
  content: 'Read Less';
}
