$accentColor: #ffbf00;
$accentLightestColor: #ffd862;
$accentLightColor: #ffce3b;
$accentDarkColor: #ebb000;

$white: #ebebeb;
$black: #4f4f4f;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    line-height: 1.64em;
    color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: $black;
}

h1 {
    font-size: 3.2em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 2.4em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.6em;
}

h6 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: $black;

    &:hover {
        text-decoration: none;
        color: $accentColor;
        transition: ease-out 400ms;
    }
}

.navbar {
    padding: 0;
    z-index: 100;
    top: 0;

    &.navbar-dark {
        background-color: rgba(0, 0, 0, 0);
    }

    .navbar-brand {
        padding: 0.4em 0.7em;
    }

    .navbar-toggler {
        border-color: $white;
    }

    .navbar-nav {
        .nav-link {
            color: white;
            font-size: 1.1em;
            font-weight: 600;
            position: relative;
            padding: 1.4em 0.7em;


            &.active::after {
                width: 80%;
            }

            &:hover {
                color: white;
            }

            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                background-color: $accentColor;
                color: transparent;
                width: 0%;
                content: '.';
                height: 0.3em;
                // border-radius: 10%;
                border-top-left-radius: 35%;
                border-top-right-radius: 35%;
                transition: all 0.4s;
            }

            &:hover::after {
                width: 80%;
            }
        }
    }
}

.btn {
    font-weight: 600 !important;
    height: 3em !important;
    font-size: 1.1em;
    font-weight: 900 !important;
}

.btn-primary {
    color: $white !important;
    background-color: $accentDarkColor;
    border-color: $accentDarkColor !important;
    transition: ease-out 400ms !important;

    &:hover {
        background-color: $accentColor;
        transition: ease-out 800ms !important;
    }
}


#scroll-top-button {
    display: none;
    position: fixed;
    height: 2.8em !important;
    width: 2.8em !important;
    bottom: 20px;
    right: 30px;
    z-index: 100;
    background-color: $accentLightestColor;
    color: $black;
    padding: 0% !important;
    border-radius: 50%;

    i {
        font-size: 1.6em;
    }
}

.custom-hr1 {
    height: 0.2em;
    width: 10%;
    margin-left: 0%;
    border: none;
    border-radius: 2px;
    background: $accentColor;
}

.custom-hr2 {
    height: 0.12em;
    margin-left: 10%;
    margin-right: 10%;
    border: none;
    border-radius: 2px;
    background: $black;
}

footer {
    color: $white;
    font-size: 0.95em;
    background-color: rgb(33, 33, 33);
    bottom: 0;

    img {
        width: 10em;
    }


    h5 {
        color: $accentLightColor;
    }

    a {
        color: $white;

        &:hover {
            transition: ease-out 400ms;
        }
    }
}

@mixin headerImage($imageUrl, $x, $y) {

    .headImage {
        background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.15) 50%),
            $imageUrl repeat-y;
        background-size: cover;
        background-position: $x $y;
        z-index: 0;
        position: absolute;
        height: 340px;
        width: 100%;
        top: 0;
        left: 0;
    }

    .headImageSpace {
        height: 260px;
    }
}