$accentColor: #ffbf00;
$accentLightestColor: #ffd862;
$accentLightColor: #ffce3b;
$accentDarkColor: #ebb000;

$white: #ebebeb;
$black: #4f4f4f;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: $black;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: $black;

    &:hover {
        text-decoration: none;
        color: $accentDarkColor;
        transition: ease-out 400ms;
    }
}

.navbar {
    padding: 0em;
    z-index: 100;
    top: 0px;

    &.navbar-dark {
        background-color: rgba(0, 0, 0, 0);
    }

    .navbar-brand {
        padding: 0.4em 0.6em;
    }

    .navbar-toggler {
        border-color: $white;
    }

    .navbar-nav {
        .nav-link {
            color: white;
            font-size: 1.16rem;
            font-weight: 600;
            position: relative;
            padding: 1.4em 0.6em;


            &.active::after {
                width: 80%;
            }

            &:hover {
                color: white;
            }

            &::after {
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                margin: auto;
                background-color: $accentColor;
                color: transparent;
                width: 0%;
                content: '.';
                height: 0.32rem;
                border-top-left-radius: 32%;
                border-top-right-radius: 32%;
                transition: all 0.4s;
            }

            &:hover::after {
                width: 80%;
            }
        }
    }
}

.btn {
    font-size: 1.24rem;
    font-weight: 800;
    height: 2.4em;
}

.btn-primary {
    color: $white;
    background-color: $accentDarkColor;
    border-color: $accentDarkColor;
    transition: ease-out 400ms;

    &:hover {
        background-color: $accentColor;
        border-color: $accentDarkColor;
        transition: ease-out 800ms;
    }
}


#scroll-top-button {
    display: none;
    position: fixed;
    height: 2.6em !important;
    width: 2.6em !important;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    background-color: $accentLightColor;
    color: $black;
    padding: 0em !important;
    border-radius: 50%;
}

.custom-hr1 {
    height: 0.2rem;
    width: 10%;
    margin-left: 0%;
    border: none;
    border-radius: 2px;
    background: $accentColor;
}

.custom-hr2 {
    height: 0.1rem;
    margin-left: 10%;
    margin-right: 10%;
    border: none;
    border-radius: 2px;
    background: $black;
}

footer {
    color: $white;
    font-size: 0.96rem;
    background-color: rgb(33, 33, 33);
    bottom: 0;

    img {
        width: 10rem;
    }

    h5 {
        color: $accentLightColor;
    }

    a {
        color: $white;

        &:hover {
            transition: ease-out 400ms;
        }
    }
}

@mixin headerImage($imageUrl, $x, $y) {

    .headImage {
        background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.15) 50%),
            $imageUrl repeat-y;
        background-size: cover;
        background-position: $x $y;
        z-index: 0;
        position: absolute;
        height: 32vh;
        width: 100%;
        top: 0px;
        left: 0px;
    }

    .headImageSpace {
        height: calc(32vh - 80px);
    }
}